# Importing Neccessary Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Csv File

In [2]:
df=pd.read_csv(r'C:\Users\Dell\Desktop\75 Day\EDA-DAY8\artists.csv', encoding='unicode_escape')

# Data Exploration

In [3]:
df.head()

         Artist   Streams   Daily   As lead      Solo As feature
0         Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8

In [4]:
df.describe()

             Daily
count  2994.000000
mean      1.854522
std       3.758283
min       0.002000
25%       0.480250
50%       0.871000
75%       1.774250
max      85.793000

In [5]:
df.shape

(3000, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      3000 non-null   object
 1   Streams     3000 non-null   object
 2   Daily       2994 non-null   float64
 3   As lead     2984 non-null   object
 4   Solo        2931 non-null   object
 5   As feature  2662 non-null   object
dtypes: float64(1), object(5)
memory usage: 140.8+ KB

# Unique columns data

In [7]:
df['Artist'].unique()

array(['Drake', 'Bad Bunny', 'Taylor Swift', ..., 'Vedo',
       'Kings of Convenience', 'Ayra Starr'], dtype=object)

In [8]:
df['Streams'].unique()

array(['85,041.3', '67,533.0', '57,859.0', ..., '729.6', '729.4', '728.6'],
      dtype=object)

In [9]:
df['As feature'].unique()

array(['27,788.7', '26,563.4', '2,292.4', ..., '187.6', '83.6', '310.1'],
      dtype=object)

# Check Null Values

In [10]:
df.isnull().sum()

Artist          0
Streams         0
Daily           6
As lead        16
Solo           69
As feature    338
dtype: int64

In [11]:
df.head()

         Artist   Streams   Daily   As lead      Solo As feature
0         Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8

# Change Object to Sufficient Data types

In [12]:
df['Artist']=df['Artist'].astype('category')

In [13]:
df[['Streams', 'As lead', 'Solo', 'As feature']] = df[['Streams', 'As lead', 'Solo', 'As feature']].astype(str).applymap(lambda x: float(x.replace(',', '')))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      3000 non-null   category
 1   Streams     3000 non-null   float64
 2   Daily       2994 non-null   float64
 3   As lead     2984 non-null   float64
 4   Solo        2931 non-null   float64
 5   As feature  2662 non-null   float64
dtypes: category(1), float64(5)
memory usage: 211.1 KB

In [15]:
df.columns

Index(['Artist', 'Streams', 'Daily', 'As lead', 'Solo', 'As feature'], dtype='object')

In [16]:
columns_to_convert = ['Streams', 'As lead', 'Solo', 'As feature']

for column in columns_to_convert:
    df[column] = pd.to_numeric(df[column], errors='coerce')

df[['Streams', 'As lead', 'Solo', 'As feature']] = df[['Streams', 'As lead', 'Solo', 'As feature']].fillna(df.mean(numeric_only=True))

# Data Visualization

## Soon..